<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

  <title>[[${title}]]</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
  <script type="text/javascript" th:src="@{/js/common.js}" ></script>
</head>
<body>
<div th:fragment="footer" class="text-center m-3">
  <p>Clinic Control Panel - Copyright &copy; Clinic</p>
</div>
<th th:fragment="column_link(fieldName, columnLabel)">
  <a class="text-white"
     th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName}  +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
    [[${columnLabel}]]
  </a>
  <span th:if="${sortField == fieldName}"
        th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>
</th>

<th th:fragment="customer_column_link(fieldName, columnLabel)">
  <a class="text-white"
     th:href="@{'/customers/page/' + ${currentPage} + '?sortField=' + ${fieldName}  +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
    [[${columnLabel}]]
  </a>
  <span th:if="${sortField == fieldName}"
        th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>
</th>


<th th:fragment="doctor_column_link(fieldName, columnLabel)">
  <a class="text-white"
     th:href="@{'/doctors/page/' + ${currentPage} + '?sortField=' + ${fieldName}  +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
    [[${columnLabel}]]
  </a>
  <span th:if="${sortField == fieldName}"
        th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>
</th>


<th th:fragment="staff_column_link(fieldName, columnLabel)">
  <a class="text-white"
     th:href="@{'/staffs/page/' + ${currentPage} + '?sortField=' + ${fieldName}  +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
    [[${columnLabel}]]
  </a>
  <span th:if="${sortField == fieldName}"
        th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>
</th>

<a th:fragment="page_link(moduleURL, pageNum, label)"
   class="page-link"
   th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>

<div th:fragment="user_status" th:remove="tag">
  <a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
     th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
     title="Disable this user"
  ></a>

  <a th:if="${user.enabled == false}" class="fas fa-circle fa-2x icon-dark"
     th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
     title="Enable this user"
  ></a>
</div>

<div th:fragment="staff_status" th:remove="tag">
  <a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
     th:href="@{'/staffs/' + ${user.id} + '/enabled/false'}"
     title="Disable this user"
  ></a>

  <a th:if="${user.enabled == false}" class="fas fa-circle fa-2x icon-dark"
     th:href="@{'/staffs/' + ${user.id} + '/enabled/true'}"
     title="Enable this user"
  ></a>
</div>

<div th:fragment="doctor_status" th:remove="tag">
  <a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
     th:href="@{'/doctors/' + ${user.id} + '/enabled/false'}"
     title="Disable this user"
  ></a>

  <a th:if="${user.enabled == false}" class="fas fa-circle fa-2x icon-dark"
     th:href="@{'/doctors/' + ${user.id} + '/enabled/true'}"
     title="Enable this user"
  ></a>
</div>

<div th:fragment="customer_status" th:remove="tag">
  <a th:if="${customer.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
     th:href="@{'/customers/' + ${customer.id} + '/enabled/false'}"
     title="Disable this user"
  ></a>

  <a th:if="${customer.enabled == false}" class="fas fa-circle fa-2x icon-dark"
     th:href="@{'/customers/' + ${customer.id} + '/enabled/true'}"
     title="Enable this user"
  ></a>
</div>



<div th:fragment="user_actions" th:remove="tag">
  <a class="fas fa-edit fa-2x icon-green" th:href="@{'/users/edit/' + ${user.id}}"
     title="Edit this user"></a>
  &nbsp;
  <a class="fas fa-trash fa-2x icon-dark link-delete"
     th:href="@{'/users/delete/' + ${user.id}}"
     th:entityId="${user.id}"
     title="Delete this user"></a>
</div>


<div th:fragment="staff_action" th:remove="tag">
  <a class="fas fa-edit fa-2x icon-green" th:href="@{'/staffs/edit/' + ${user.id}}"
     title="Edit this user"></a>
  &nbsp;
  <a class="fas fa-trash fa-2x icon-dark link-delete"
     th:href="@{'/staffs/delete/' + ${user.id}}"
     th:entityId="${user.id}"
     title="Delete this user"></a>
</div>

<div th:fragment="doctor_action" th:remove="tag">
  <a class="fas fa-edit fa-2x icon-green" th:href="@{'/doctors/edit/' + ${user.id}}"
     title="Edit this user"></a>
  &nbsp;
  <a class="fas fa-trash fa-2x icon-dark link-delete"
     th:href="@{'/doctors/delete/' + ${user.id}}"
     th:entityId="${user.id}"
     title="Delete this user"></a>
</div>


<div th:fragment="customer_action" th:remove="tag">
  <a class="fas fa-edit fa-2x icon-green" th:href="@{'/customers/edit/' + ${customer.id}}"
     title="Edit this customer"></a>
  &nbsp;
  <a class="fas fa-trash fa-2x icon-dark link-delete"
     th:href="@{'/customers/delete/' + ${customer.id}}"
     th:entityId="${customer.id}"
     title="Delete this customer"></a>
</div>





<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
  <div class="text-center m-1" th:if="${totalItems > 0}">
    <span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
  </div>
  <div class="text-center m-1" th:unless="${totalItems > 0}">
    <span>No [[${entityName}]] found</span>
  </div>

  <div th:if="${totalPages > 1}">
    <nav>
      <ul class="pagination justify-content-center flex-wrap">
        <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
          <a th:replace="fragments :: page_link(${moduleURL}, 1, 'First')"></a>
        </li>
        <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
          <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Previous')"></a>
        </li>

        <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
            th:each="i : ${#numbers.sequence(1, totalPages)}">
          <a th:replace="fragments :: page_link(${moduleURL}, ${i}, ${i})"></a>
        </li>

        <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
          <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')"></a>
        </li>

        <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
          <a th:replace="fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')"></a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div th:fragment="search_form(moduleURL)">
  <form th:action="@{${moduleURL}}" class="form-inline m-3">
    <input type="hidden" name="sortField" th:value="${sortField}" />
    <input type="hidden" name="sortDir" th:value="${sortDir}" />

    Filter:&nbsp;
    <input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
    &nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-secondary" onclick="clearFilter()">
      <i class="fas fa-eraser"></i>
    </button>
  </form>
</div>


<div th:fragment="service_status" th:remove="tag">
  <a th:if="${ser.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
     th:href="@{'/services/' + ${ser.id} + '/enabled/false'}"
     title="Disable this service"
  ></a>

  <a th:if="${ser.enabled == false}" class="fas fa-circle fa-2x icon-dark"
     th:href="@{'/services/' + ${ser.id} + '/enabled/true'}"
     title="Enable this service"
  ></a>
</div>

<div th:fragment="service_actions" th:remove="tag">
  <a class="fas fa-edit fa-2x icon-green" th:href="@{'/services/edit/' + ${ser.id}}"
     title="Edit this service"></a>
  &nbsp;
  <a class="fas fa-trash fa-2x icon-dark link-delete"
     th:href="@{'/services/delete/' + ${ser.id}}"
     th:entityId="${ser.id}"
     title="Delete this service"></a>
</div>


<!--<div th:fragment="appointment_status" th:remove="tag">-->
<!--  <a th:if="${appointment?.status?.name() == 'APPROVAL'}" class="fas fa-check-circle fa-2x icon-green"-->

<!--     title="APPROVAL"-->
<!--  ></a>-->

<!--  <a th:if="${appointment?.status?.name() == 'PENDING'}" class="fas fa-circle fa-2x icon-dark"-->
<!--     th:href="@{'/appointment/' + ${appointment.id} + '/approve'}"-->
<!--     title="Approve this appointment"-->
<!--  ></a>-->
<!--</div>-->

<div th:fragment="appointment_status(appointment)" th:remove="tag">
  <a th:if="${appointment?.status?.name() == 'APPROVAL' || appointment?.status?.name() == 'INVOICED' || appointment?.status?.name() == 'RECORDED'}" class="fas fa-check-circle fa-2x icon-green"
     title="APPROVAL"></a>

  <a th:if="${appointment?.status?.name() == 'PENDING'}" class="fas fa-circle fa-2x icon-dark"
     th:href="@{'/appointments/' + ${appointment.id} + '/approve'}"
     title="Approve this appointment"></a>
</div>


<div th:fragment="appointment_actions(appointment)" th:remove="tag">
  <a class="fas fa-edit fa-2x icon-green" th:href="@{'/appointments/edit/' + ${appoint.id}}"
     title="Edit this service"></a>
  &nbsp;
  <a th:if="${appointment?.status?.name() == 'PENDING'}" class="fas fa-trash fa-2x icon-dark link-delete"
     th:href="@{'/appointments/' + ${appoint.id} + '/cancel'}"
     th:entityId="${appoint.id}"
     title="Cancel this service"></a>
<!--  <a class="fas fa-trash fa-2x icon-dark link-delete"-->
<!--     th:href="@{'/appointments/delete/' + ${appoint.id}}"-->
<!--     th:entityId="${appoint.id}"-->
<!--     title="Delete this service"></a>-->
</div>

<div th:fragment="record_actions" th:remove="tag">
  <a class="fas fa-edit fa-2x icon-green" th:href="@{'/records/edit/' + ${record.id}}"
     title="Edit this record"></a>
  &nbsp;

</div>

</body>
</html>