<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle})" />
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Manage Invoice | [[${pageTitle}]]</h2>

    </div>

    <form th:action="@{/invoices/save}" method="post" style="max-width: 500px; margin: 0 auto"
          enctype="multipart/form-data"
          th:object="${invoice}">
        <input type="hidden" th:field="*{id}" />
        <div class="border border-secondary rounded p-3">


            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Select one or more services:</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{services}" multiple required
                            style="resize: vertical; height: 200px">
                        <th:block th:each="service : ${listServices}">
                            <option th:value="${service.id}">[[${service.name}]]</option>
                        </th:block>

                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Chosen services:</label>
                <div class="col-sm-8">

                    <div id="chosenServices">
                    </div>
                </div>
            </div>



            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary m-3" />
                <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
            </div>
        </div>
    </form>

    <div th:replace="modal_fragments :: modal_dialog"></div>

    <div th:replace="fragments :: footer"></div>

</div>
<script type="text/javascript">
    moduleURL = "[[@{/invoices}]]";

    $(document).ready(function() {
        dropdownServices = $("#services");
        divChosenServices = $("#chosenServices");

        dropdownServices.change(function() {
            divChosenServices.empty();
            showChosenServices();
        });


    });

    function showChosenServices() {
        dropdownServices.children("option:selected").each(function() {
            selectedService = $(this);
            serId = selectedService.val();
            serName = selectedService.text();

            //alert(serId + ' : ' + serName);


            divChosenServices.append("<span class='badge badge-secondary m-1'>" + serName + "</span>");
        });

    }

</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>