<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<body>
<div class="container-fluid">
  <div th:replace="navigation :: header_menu"></div>
  <div>
    <h2> [[${pageTitle}]]</h2>







  </div>


  <form th:action="@{/appointment/save}" method="post" style="max-width: 700px; margin: 0 auto"
        th:object="${appointment}"
        onsubmit="return checkLogin(this);">

    <input type="hidden" th:field="*{id}" />
    <!--      <input type="hidden" th:field="*{services}" />-->
    <div class="border border-secondary rounded p-3">


      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Appointment Date:</label>
        <div class="col-sm-8">
          <input type="date" th:field="*{bookingDate}" class="form-control" required />
        </div>
      </div>



      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Specialization:</label>
        <div class="col-sm-8">
          <select th:field="*{specialization}" class="form-control" required>
            <th:block th:each="specialization : ${listSpecializations}">
              <option th:value="${specialization.id}">[[${specialization.name}]]</option>
            </th:block>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Doctor:</label>
        <div class="col-sm-8">
          <select th:field="*{doctor}" class="form-control" required>

          </select>
        </div>
      </div>




      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Select one or more services:</label>
        <div class="col-sm-8">
          <select class="form-control" th:field="*{services}" multiple required
                  style="resize: vertical; height: 200px">


          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Chosen services:</label>
        <div class="col-sm-8">

          <div id="chosenServices">
          </div>
        </div>
      </div>






      <!--        <div class="form-group row">-->
      <!--            <label class="col-sm-4 col-form-label">Service:</label>-->
      <!--            <div class="col-sm-8">-->
      <!--                <select th:field="*{services}" class="form-control" >-->

      <!--                </select>-->
      <!--            </div>-->
      <!--        </div>-->





      <div class="text-center">
        <!--            <div th:if="${createNew}" class="text-center">-->
        <!--                <input type="submit" value="Save" class="btn btn-primary m-3" />-->
        <!--            </div>-->
        <!--            <div th:if="${appointment?.status?.name() == 'PENDING'}" class="text-center">-->
        <!--                <input type="submit" value="Save" class="btn btn-primary m-3" />-->
        <!--            </div>-->
        <button type="submit" class="btn btn-primary btn-md m-1">Save</button>
        <button type="button" class="btn btn-secondary btn-md m-1" id="buttonCancel">Cancel</button>

      </div>


    </div>
  </form>



  <div th:replace="modal_fragments :: modal_dialog"></div>


</div>
<script type="text/javascript">
  moduleURL = "[[@{/appointment}]]";
  specializationModuleURL = "[[@{/specializations}]]";
  appointmentModuleURL= "[[@{/appointment}]]";

  dropdownSpecializations = $("#specialization");
  divChosenServices = $("#chosenServices");
  dropdownDoctors = $("#doctor");
  dropdownServices = $("#services")



  $(document).ready(function() {
    dropdownSpecializations.change(function() {
      dropdownDoctors.empty();
      dropdownServices.empty();

      getDoctors();
      getServices();

    });

    // dropdownCategories.change(function(){
    //     dropdownServices.empty();
    //     getServices();
    // });

    dropdownServices.change(function() {
      divChosenServices.empty();
      showChosenServices();
    });


    getDoctors();
    getServices();


  });


  // function checkLogin(form) {
  //   if (isLoggedIn()) {
  //     alert("submit");
  //     form.submit();
  //   } else {
  //     showWarningModal('You must be logged in to book an appointment.');
  //     return false;
  //   }
  // }

  function checkLogin(form) {
    if (!isLoggedIn()) {
      showWarningModal('You must be logged in to book an appointment.');
      return false; // Prevent form from submitting
    }
    form.submit();
    // If isLoggedIn() returns true, form submission is allowed
    return true;
  }

  function isLoggedIn() {
    // Example check for a logged-in cookie
    return document.cookie.split(';').some((item) => item.trim().startsWith('loggedIn='));
  }




  function showChosenServices() {
    dropdownServices.children("option:selected").each(function() {
      selectedService = $(this);
      serId = selectedService.val();
      serName = selectedService.text();

      //alert(serId + ' : ' + serName);


      divChosenServices.append("<span class='badge badge-secondary m-1'>" + serName + "</span>");
    });

  }



  function getServices() {
    specializationId = dropdownSpecializations.val();
    url = specializationModuleURL + "/" + specializationId + "/services";

    $.get(url, function(responseJson) {
      $.each(responseJson, function(index, service) {
        console.log(service.name);
        $("<option>").val(service.id).text(service.name).appendTo(dropdownServices);
      });
    });
  }


  function getDoctors() {
    specializationId = dropdownSpecializations.val();
    url = specializationModuleURL + "/" + specializationId + "/doctors";

    $.get(url, function(responseJson) {
      $.each(responseJson, function(index, doctor) {
        console.log(doctor.name);
        $("<option>").val(doctor.id).text(doctor.name).appendTo(dropdownDoctors);
      });
    });
  }







</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>